*{
    margin: 0;
    padding: 0;
    font-family: 'Cambria';
    
}

#google_translate_element{
    /* display: flex; */
    float: right;
    margin-top: -1.5em;
    padding-right: 3.5em;
}

section .contact a{
    display: flex;
    margin-left: 5em;
    padding-top: 18px;
    font-weight: 100;
    font-size: 18px;
    font-family: Arial, Verdana, Helvetica, Tahoma;
}



header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    margin-top: 4em;
    padding: 1px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo img{
  position: relative;
  left: 2.5em;
  width: 135px;
  height: 80px;
  background-repeat:   no-repeat;
  background-size:     cover;
  display: flex;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover{
    background: sandybrown;
    color: #34495e;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 130px;
    background: #f5f5;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul{
    left: 130px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    color: #333;
    cursor: pointer;
    display: none;
}







   @media(max-width:991px){
       
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f5f5;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }
    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #fab1a0;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }

   }


#slider{
    overflow: hidden;
    margin-top: 6.5em;
    background: #d8d8d8;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    float: left;
    width: 20%;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0%;
    }
    25%{
        left:-100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

 @media(max-width:991px){

    #slider{
        margin-top: 8.9em;
    }

 }



 #about{
     padding-top: 5em;
     text-align: center;
     background: #d8d8d8;
 }

 #about .heading{
    font-weight: bolder;
    font-size: 40px;
    color: #2c3e50  ;
 }

 #about .para{
     padding: 2.5em 5em 2.5em 5em;
     font-size: 20px;
     color: #353b48;
     text-shadow: 1px 1px #718093;
 }

 @media(max-width: 540px){
     
    #about .para{
        padding: 0.7em 1em 2.5em 1em;
        font-size: 17px;
    }
 }  
 

 #about .Social ul{
     position: absolute;
     left: 50%;
     padding: 0;
     margin: 0;
     transform: translate(-50%, -50%);
     display: flex;
 }

 #about .Social ul li{
     list-style: none;
     margin: 0 10px;
 }

 #about .Social ul li .fa{
     font-size: 30px;
     line-height: 60px;
     transition: .6s;
     
 }

 #about .Social ul li a:hover{
     color: #fff;
     background-color: rgb(214, 16, 16);
 }
 
 #about .Social ul li a{
     position: relative;
     display: block;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     color: rgb(24, 22, 22);
     background-color: #fff;
     text-align: center;
     transition: .6%;
     box-shadow: 0 5px 4px rgba(0,0,0,.5);
 }


 #about .Social ul li a:hover{
     transform: translate(0, -10px);
 }

 #about .Social ul li:nth-child(1) a:hover{
     background-color: #1877F2;
 }

 #about .Social ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}

#about .Social ul li:nth-child(3) a:hover{
    background-color: #1DA1F2;
}

#about .Social ul li:nth-child(4) a:hover{
    background-color: #BD081C;
}

#about .Social ul li:nth-child(5) a:hover{
    background-color: #CD201F;
}

/* States */

#state{
    padding-top: 2em;
    margin-bottom: -2.5em;
    background-color: #d8d8d8;
    font-weight: bolder;
    font-size: 40px;
    color: #2c3e50;
    text-align: center;
}



/* Cards */

#cards{
    box-sizing: border-box;
    background-color: #d8d8d8;
    color:   #2c3e50;
    display: flex;
    justify-content: center;
    height: 300vh;
}

/* #cards .container{
    max-width: 1150px;
    margin: 0 auto;
} */

#cards .flex-box{
    display: flex;
    flex-wrap: wrap;
    /* background-color: #d8d8d8; */
    max-width: 1150px;
    margin: 10em 10em;
}

#cards .card-list{
    display: flex;
    padding: 20px;
    width: 45%;
    /* background-color: #d8d8d8; */
}

#cards .card-list:hover{
    box-shadow: 0px 0px 25px 0px #E4405F;
    border-radius: 15px;
}

#cards .card-list .box{
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 7px 0px #E4405F;
}

#cards .card-list .content{
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    flex-grow: 1;
}

#cards .card-list .box img{
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    clip-path: polygon(0 0,100% 0, 100% 87%, 0 100%);
}

#cards .card-list .box h2{
    font-size: 26px;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 20px;
}

#cards .card-list .box p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    flex-grow: 1;
}

#cards .card-list .box a{
    display: inline-block;
    text-decoration: none;
    border: 2px solid #05203b;
    padding: 3px 25px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 32px;
    color: #E4405F;
    letter-spacing: 1px;
    box-shadow: 0px 0px 7px 0px #E4405F;
    width: 111px;
    margin-bottom: -10px;
}

#cards .card-list .box a:hover{
    display: inline-block;
    text-decoration: none;
    border: 2px solid#E4405F;
    padding: 3px 25px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 32px;
    color: #05203b;
    background-color: #4cd137;
    box-shadow: 0px 0px 25px 0px #E4405F;
    letter-spacing: 1px;
    width: 111px;
    margin-bottom: -10px;
}


  @media (max-width: 1125px){

    #state{
        font-size: 25px;
        margin-bottom: -4em;
    }

    #cards{
        box-sizing: border-box;
        background-color: #d8d8d8;
        color:   #2c3e50;
        display: flex;
        justify-content: center;
        height: 300vh;
    }
    
    /* #cards .container{
        max-width: 1150px;
        margin: 0 auto;
    } */
    
    #cards .flex-box{
        display: flex;
        flex-wrap: wrap;
        /* background-color: #d8d8d8; */
        max-width: 1150px;
        margin: 7em 7em;
    }
    
    #cards .card-list{
        display: flex;
        padding: 50px;
        width: 35%;
        /* background-color: #d8d8d8; */
    }
    
    #cards .card-list .box{
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 7px 0px #E4405F;
        width: 450px;
    }
    
  }

  @media(max-width: 540px){

    #state{
        margin-bottom: -16em;
    }

    #cards{
        align-items: center;
        height: 600vh;
        /* margin-top: -18em; */
       
    }

    #cards .flex-box{
        display: flex;
        flex-wrap: wrap;
        max-width: 1050px;
        
    }

    

    #cards .card-list{
        display: flex;
        padding: 20px;
        width: 100%;
        
    }

    #cards .card-list .box{
        width: 360px;
    }
  }


  footer{
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin-top: -6em;
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00); 
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 120px;
    font-size: 16px;
    line-height: 20px;
}

footer .row{
    
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col{
    flex-basis: 20%;
    padding: 10px;
}

footer .logo1{
    margin-bottom: 30px;
}

footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

footer .col .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer ul li{
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a{
    text-decoration: none;
    color: #fff;
}

footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer form .fas{
    font-size: 18px;
    margin-right: 10px;
}

footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer .socials{
    padding-right: -5em;
    padding-top: 10em;
}

footer .socials ul{
    position: absolute;
    
    padding-right: 8em;
    /* margin: 0; */
    transform: translate(-100%);
    display: flex;
}

footer .socials ul li{
    list-style: none;
    padding-right: 20px;
     margin: 0 10px;
}

footer .socials ul li .fab{
    font-size: 20px;
     line-height: 30px;
    
     transition: .6s;
}

footer .socials ul li a:hover{
    color: #fff;
     background-color: rgb(214, 16, 16);
}

footer .socials ul li a{
    position: absolute;
    display: block;
    width: 35px;
    height: 32px;
    border-radius: 50%;
    color: rgb(24, 22, 22);
    background-color: #fff;
    text-align: center;
    transition: .6%;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

footer .socials ul li a:hover{
    transform: translate(0, -10px);
}

footer .socials ul li:nth-child(1) a:hover{
    background-color: #1877F2;
}

footer .socials ul li:nth-child(2) a:hover{
   background-color: #E4405F;
}

footer .socials ul li:nth-child(3) a:hover{
   background-color: #1DA1F2;
}

footer .socials ul li:nth-child(4) a:hover{
   background-color: #BD081C;
}

footer .socials ul li:nth-child(5) a:hover{
   background-color: #CD201F;
}

footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

footer .copyright{
    text-align: center;
}

footer .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite ;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 991px){
    footer .socials ul{
        display: flex;
        padding-right: 27em;
        align-items: center;        
    }

    footer .socials ul{
        align-items: center;
        padding-right: 20em;
    }

    footer .col{
        flex-basis: 50%;
    }
    footer .col:nth-child(2), .col:nth-child(3){
        flex-basis: 50%;
    }

    footer hr{
        padding-top: 1.5em;
    }
}

@media (max-width: 540px){
    footer .socials ul{
        display: flex;
        padding-right: 6em;
    }

    footer{
        margin-top: -25em;
    }

    footer .col{
        flex-basis: 50%;
    }
    footer .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}
























/* 


footer form .fas{
    font-size: 16px;
    color: #ccc;
} */

/* footer .socials .fab{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 17px;
    display: flex;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    position: ;
    
    
} */

/* 








 */
